div.vpr-navbar.navbar-inner, .navbar.navbar-inverse {
    background-color: #57ab33;
    filter: none;
    background-image: linear-gradient(to bottom, #57ab33, #49912b);
    background-repeat: repeat-x;
    border-color: #a2dc8a;
    background-image: -moz-linear-gradient(top, #57ab33, #49912b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#57ab33), to(#49912b));
    background-image: -webkit-linear-gradient(top, #57ab33, #49912b);
    background-image: -o-linear-gradient(top, #57ab33, #49912b);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #ddd;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
    text-decoration: underline;
    color: #fff !important;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #ddd;
    border-top-color: #ddd;
}

.navbar .nav {
    padding: 15px 10px 0 0;
}

.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a {
    color: #ddd;
}


@media (max-width: 979px) {
    .navbar-inverse .nav-collapse .nav > li > a:hover,
    .navbar-inverse .nav-collapse .nav > li > a:focus,
    .navbar-inverse .nav-collapse .dropdown-menu a:hover,
    .navbar-inverse .nav-collapse .dropdown-menu a:focus {
        background-color: #3c7723;
        *background-color: #3c7723;
        color: #fff;
    }
}

.navbar-inverse .btn-navbar {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #3c7723;
    *background-color: #3c7723;
    background-image: -moz-linear-gradient(top, #49912b, #3c7723);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#49912b), to(#3c7723));
    background-image: -webkit-linear-gradient(top, #49912b, #3c7723);
    background-image: -o-linear-gradient(top, #49912b, #3c7723);
    background-image: linear-gradient(to bottom, #49912b, #3c7723);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
    color: #ffffff !important;
    background-color: #3c7723;
    *background-color: #3c7723;
}

@media (min-width: 1200px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
    width: 940px;
    }
}
